@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


h1 {
  /*border: 1px solid red; */
  text-align: center;
  font-size: 4.375rem;
  font-family: 'Montserrat', sans-serif;
}

h2 {
  font-size: 1.875rem ;
  margin-bottom: 1.5rem;
  margin-top: 0.8rem;
  line-height: 2.5rem;
}

h3 {
  margin-bottom: 0.625rem;
  margin-top: 0.938rem;
}


p {
  font-size: 1rem;
  padding-bottom: 2.5rem;
  line-height: 1.4rem;
  text-align: justify;
}

.pequeño {
  font-size: 0.75rem;
  padding-bottom: 0.5rem;
  line-height: 1.4rem;
  text-align: justify;
}

a, a:visited {
  color: inherit;
}

ol {
  list-style: decimal;
}

ul {
  list-style: disc;
  list-style-position: inside;
}

li {
  margin-bottom: 0.9rem;
  font-size: 1rem;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.underlined {
  text-decoration: underline;
}

.separador {
  width: 64rem;
  height: 0.1rem;
  border-top: 0.125rem solid #f7786b;
  margin: 40px 0;
}

.separador2 {
  width: 55rem;
  height: 0.1rem;
  border-top: 0.125rem solid grey;
  margin: 3rem 0 3rem 0;
}

.container {
  /*border: 1px solid red; */
  max-width: 65rem;
  margin: 0 auto;
}

.container2 {
  background-color: white;
  border: 0.1rem solid black;
  max-width:62rem;
  margin: auto;
  padding: 0.15rem 0 0.15rem 0;
  z-index:2;
}

.container3 {
  background-color: #171738;
  border: 0.1rem solid black;
  max-width: 55rem;
  margin: auto;
  padding: 1rem 3.25rem 1rem 3.25rem;
  z-index:1;
}

.top {
    background-color: #171738;
    height: 11.9rem;
    padding-top: 3.44rem;
    color: white;
}

.top img {
  float: left;
  padding-top: 1.25rem;
}

.mid{
  background-color: #36416D;
  height: 6.25rem;
  /*border: 2px solid white;*/
  width: 100%;
  font-size: 1.8rem;
  color: white;
  top: 0;
  position: sticky;
}

.mid a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}

.mid1{
  float: left;
  width: 18.75rem;
  height: 6.25rem;
  max-height: 4.688rem;
  text-align: center;
  padding-top: 1.563rem;
}

.mid2{
  float: left;
  width: 18.75rem;
  height: 6.25rem;
  max-height: 4.688rem;
  padding-right: 2.813rem;
  padding-left: 2.813rem;
  text-align: center;
  padding-top: 1.563rem;
}

.mid3{
  float:left;
  width: 18.75rem;
  height: 6.25rem;
  max-height: 4.688rem;
  text-align: center;
  padding-top: 1.563rem;
}

.bottom {
    background-color: #f7cac9;
    padding: 2.5rem 0 14.063rem;
    color: black;
}

.bottom2 {
    background-color: #6A8BAC ;
    padding: 2.5rem 0 14.063rem;
    color: #D7DBDD;
}

.titulos_grande {
  font-size: 2.5rem;
  padding-bottom: 0.8rem;
}

.titulos_indice {
  font-size: 2.2rem;
}

.subtitulos_indice {
  font-size: 1.6rem;
  color: black;
}

.subtitulos_indice2 {
  font-size: 1.6rem;
  color: #ABB2B9;
}

.img {
  display: block;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #DCB2B1;
}

.fotofloat {
  z-index:0;
}

.imgleftprogramar3 , .imgleftflag3 {
  margin-top: 2rem;
  margin-left: 4rem;
  margin-right: 1rem;
  border: 1px solid #DCB2B1;
}

.imgrightprogramar3 , .imgrightflag3 {
  margin-top: 2rem;
  margin-left: 1rem;
  margin-right: 4rem;
  border: 1px solid #DCB2B1;
}

.imgleftigualdad3 {
  margin-top: 2rem;
  margin-left: 8rem;
  margin-right: 2rem;
  border: 1px solid #DCB2B1;
}

.imgrightigualdad3 {
  margin-top: 2rem;
  margin-left: 2rem;
  margin-right: 4rem;
  border: 1px solid #DCB2B1;
}

.imgblackborder {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 0.094rem solid black;
}

.imgnoborder {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.mid.container.mid1 {
  padding-right: 3.125rem;
}

.index-left {
  width: 45%;
  float: left;
  margin-bottom: 1.875rem;
}

.index-left2 {
  width: 55%;
  float: left;
  margin-bottom: 1.875rem;
}

.index-right {
  width: 55%;
  float: left;
}

.index-right2 {
  width: 45%;
  float: left;
}

.primera_evaluacion {
  width: 62.5rem;
}

.segunda_evaluacion {
  width: 62.5rem;
  padding-bottom: 2rem;
}

.clear {
  clear: both;
}

.index-right img {
  padding-top: 2.5rem;
}

.fotop2 {
  margin-top: 16rem;
}

.fotop3 {
  margin-top: 23rem;
}

.information {
  clear: both;
}

.information2 {
  clear: both;
  border: 1px solid black;
  padding: 0 1rem 0 1rem;
}

.information h2 {
  font-weight: bold;
}

.information2 h2 {
  font-weight: bold;
}

.h3actividad, .h3creatividad, .h3servicio{
  font-weight: bold;
  font-size: 1.3rem;
}
